@import "tailwindcss";
/* @import "./styles/reset.css"; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@theme {
  --color-app-purple: oklch(0.489 0.249492 308.3484);
  --color-app-blue: oklch(0.7643 0.1457 232.53);
  --color-app-light-gray: oklch(0.8483 0 0);
  --font-roboto: 'Roboto', sans-serif;
  --font-dm-sans: 'DM Sans', sans-serif;
}

:root {
  font-family: var(--font-dm-sans);
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: black;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #000000;
  }
}
